PORT=4242
MONGO_URI=mongodb+srv://<Najm-Arif-Official>:<12345>@github.com/NajmArif/Najm-Arif-Official.git/shopDB
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=http://localhost:3000
